<!-- views/auth/signup.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/auth/signup.css" />
    <title>Sign Up</title>
</head>
<body class="signup-body">
    <div class="signup-container">
        <h1 class="signup-header">Create an Account</h1>
        <form action="/auth/signup" method="POST" class="signup-form">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required />

            <label for="password">Password</label>
            <input type="password" name="password" id="password" required />

            <label for="confirmPassword">Confirm Password</label>
            <input type="password" name="confirmPassword" id="confirmPassword" required />

            <button type="submit" class="signupbtn">Sign Up!</button>
        </form>
    </div>
</body>
</html>