<!-- views/index -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <% if (user) { %>
   <a href="./campaigns/index.ejs">
    <% } else { %>
    <h1> Welcome Dungeon Master</h1>
    <p>
        <a href="/auth/signup"> Sign Up</a>
    </p>
    <p>
        <a href="/auth/login">Login</a>
    </p>
    <% } %>
</body>
</html>