<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <% if (user) { %>
    <h1>Welcome Dungeon Master <%= user.username %>!</h1>
    <p>
        <a href="/campaigns">Create a New Campaign</a>
    </p>
    <p>
        <a href="/campaigns/new">View My Campaigns</a>
    </p>
    <p>
        <a href="/auth/logout">Log Out</a>
    </p>
    <% } else { %>
    <h1> Welcome Dungeon Master</h1>
    <p>
        <a href="/auth/signup"> Sign Up</a>
    </p>
    <p>
        <a href="/auth/login">Login</a>
    </p>
    <% } %>
</body>
</html>